[Unit]
Description=Nolizi Tunnel relay
Documentation=https://github.com/nolizi-prj/nolizi-tunnel
After=network-online.target
Wants=network-online.target

[Service]
User=pumasi
Group=pumasi
EnvironmentFile=-/etc/pumasi-relay/environment
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/pumasi-relay \
  -domain tunnel.nolizi.com \
  -public-host tunnel.nolizi.com \
  -public-scheme https \
  -agent-addr 127.0.0.1:7000 \
  -agent-tls-addr :7001 \
  -http-addr :80 \
  -https-addr :443 \
  -tls-cert /etc/pumasi-relay/tls/tunnel.nolizi.com.crt \
  -tls-key /etc/pumasi-relay/tls/tunnel.nolizi.com.key \
  -tcp-low 20000 -tcp-high 20099 \
  -ssh-addr :2222 \
  -ssh-hostkey /var/lib/pumasi-relay/ssh_host_ed25519_key \
  -reservations /var/lib/pumasi-relay/reservations.json
Restart=always
RestartSec=2s

NoNewPrivileges=yes
StateDirectory=pumasi-relay
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
